/* nav */
nav{
    position: fixed;
    width: 30%;
    float: left;
    margin-left: 20px;
}

.navTitle {
    position: fixed; 
}

#blogLogo{
    position: fixed;
    width: 30%;
    height: 30%;
    float: left;
    margin-top: 20;
}

/*landing section*/
.bodyTitle{
    text-align: center;
}


#landingimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    padding-top: 50px;
    margin-bottom: 50px;
}




/* rest of page */
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.photos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    padding-top: 30px;
}

.photosTables{
    padding-top: 30px;
    height: 100%;
    width: 100%;
}


label{
    margin-left: 5%;
}

.tableLabel{
    margin-left: 0% !important;
}


table{ 
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 40 px; 
    text-align: left;
}



/*columns - layout */
.section {    
    width: 70%;
    float: right;
    background-color:lightsteelblue;
    /*text-indent: 30px;*/
    padding-left: 20px;
    padding-right:20px;
}